name: url-shortener-docker-image

on: push

jobs:
  building-docker-image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: build and push url shortener docker image
      uses: mr-smithers-excellent/docker-build-push@v5
      with:
        image: islamwalid/url-shortener
        tags: latest
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
